@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,700&display=swap');

*{
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.header-logo {
  height: 5rem;
}
.header-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.carousel-inner{
height: 70vh;
}
.carousel-inner img {
  width: 100vw;
  height: 70vh;
}
.carousel-inner .item caption{
  max-height: auto;
}

@media screen and (max-width: 768px){
  .carousel-inner img, .carousel-inner {
    height: 40vh;
  }
}